#selectable .ui-selecting {
  background: dimgrey;
}

#selectable .ui-selected {
  background: orangered;
  color: white;
}

#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
}

#selectable li {
  padding: 20px;
  height: 25px;
}
